In [1]:
import requests
import pandas as pd
import os

In [22]:
data_2021 = pd.read_csv('../index_2018.csv', index_col=False)

In [23]:
data_2021.head(n=5)

,RETURN_ID,FILING_TYPE,EIN,TAX_PERIOD,SUB_DATE,TAXPAYER_NAME,RETURN_TYPE,DLN,OBJECT_ID
0,15109264,EFILE,453578215,201612,1/10/2018 1:03:25 PM,MULEY FANATIC FOUNDATION OF WYOMING INC,990,93493318071517,201713189349307151
1,15109263,EFILE,383333202,201612,1/10/2018 1:03:23 PM,KALAMAZOO COMMUNITY FOUNDATION,990,93493318071467,201713189349307146
2,15109260,EFILE,233014323,201612,1/10/2018 1:03:20 PM,GOSPEL THROUGH COLOMBIA,990,93493318071317,201713189349307131
3,15109257,EFILE,351837569,201612,1/10/2018 1:03:17 PM,PREMIER ARTS INC,990,93493318071117,201713189349307111
4,15109256,EFILE,133135292,201706,1/10/2018 1:03:17 PM,ELDERS SHARE THE ARTS INC,990,93493318071067,201713189349307106

In [ ]:
all_ids = list(pd.read_csv('../index_2021.csv').OBJECT_ID)
all_ids.extend(list(pd.read_csv('../index_2020.csv').OBJECT_ID))